In [64]:
import pandas as pd

In [65]:
df_users = pd.read_csv("recommendation_engine_users.csv")
df_users.head()

,Name,Email,Role,Business Line,Location,Client,Dashboard,User Activity
0,Charles Potts,amy99@hotmail.com,Facility Coordinator,Energy Management,Boston,TechSphere Inc.,Maintenance Schedules,27
1,Charles Potts,amy99@hotmail.com,Facility Coordinator,Energy Management,Boston,TechSphere Inc.,Facility Utilization,38
2,Charles Potts,amy99@hotmail.com,Facility Coordinator,Energy Management,Boston,TechSphere Inc.,Maintenance Schedules,69
3,Shannon Rose,colemantina@gmail.com,Building Manager,Lease Administration,Atlanta,EverGrow Farms,Occupancy Rate,11
4,Shannon Rose,colemantina@gmail.com,Building Manager,Lease Administration,Atlanta,EverGrow Farms,Building Health,32

In [66]:
df_property = pd.read_csv("property_insights_extended.csv")
df_property.head()

,Property Address,Insight 1,Insight 2,Driver,Account,Criticality
0,"2483 Olson Via St, Houston",Budgets,Janitorial Expenses 10% Over Mean,Energy Costs above 15% mean,Bank of ACME,High
1,"8389 Chad Village St, Houston",Energy Usage,Off-Hours,High energy usage during peak hours,Quantum Dynamics,Critical
2,"3427 James Shoal St, Boston",Energy Usage,Off-Hours,High energy usage during peak hours,StreamView Media,Low
3,"9659 Angela Estates St, New York",Energy Usage,Energy Efficiency,High energy usage during peak hours,NexaRetail,Low
4,"6752 Cameron Extension St, Atlanta",Budgets,Budget Compliance,Janitorial Budget above 20% mean,GreenLeaf Co.,Critical

In [67]:
df_roles = pd.read_csv("roles_duties_and_insights.csv")
df_roles.head()

,Role,Duties,Relevant Insights
0,Technician,Responsible for equipment maintenance and repa...,"Equipment Health, Work Order Completion"
1,Building Manager,Manages a single building or asset.,"Building Health, Occupancy Rate"
2,Account Director,Oversees client accounts and relationships acr...,"Client Satisfaction, Portfolio Overview"
3,Chief Engineer,Responsible for all engineering and technical ...,"Energy Efficiency, Equipment Monitoring"
4,Portfolio Manager,Oversees the performance of a collection of as...,"Investment Returns, Asset Valuation"

In [68]:
df_property[['Property Address', 'City']] = df_property['Property Address'].str.split(', ', expand=True)

In [69]:
df_property.head()

,Property Address,Insight 1,Insight 2,Driver,Account,Criticality,City
0,2483 Olson Via St,Budgets,Janitorial Expenses 10% Over Mean,Energy Costs above 15% mean,Bank of ACME,High,Houston
1,8389 Chad Village St,Energy Usage,Off-Hours,High energy usage during peak hours,Quantum Dynamics,Critical,Houston
2,3427 James Shoal St,Energy Usage,Off-Hours,High energy usage during peak hours,StreamView Media,Low,Boston
3,9659 Angela Estates St,Energy Usage,Energy Efficiency,High energy usage during peak hours,NexaRetail,Low,New York
4,6752 Cameron Extension St,Budgets,Budget Compliance,Janitorial Budget above 20% mean,GreenLeaf Co.,Critical,Atlanta

In [70]:
def getRelevantInsights(name, df, df_roles):
    role = df.loc[df['Name'] == name, 'Role'].iloc[0]
    insights = df_roles.loc[df_roles['Role'] == role, 'Relevant Insights'].iloc[0]
    return insights

In [89]:
insights_dict = {
    "Equipment Monitoring" : "Accessibility",
    "Investment Returns" : "Budgets",
    "Energy Efficiency" : "Energy Usage",
    "Preventative Maintenance" : "Safety Incidents",
    "Client Satisfaction" : "Tenant Satisfaction",
    "New Leases" : "Leases, Renewal Rate",
    "Lease Expirations" : "Leases, Expiring",
    "Occupancy Rate" : "Leases, Occupancy",
    "Preventative Maintenance" : "Work Orders, Preventative",
    "Work Order Completion" : "Work Orders"
}

In [90]:
def get_filtered_df(df_property, df_users, name):
    client = df_users.loc[df_users['Name'] == name, 'Client'].iloc[0]
    location = df_users.loc[df_users['Name'] == name, 'Location'].iloc[0]
    relevant_insights = getRelevantInsights(name, df_users, df_roles)
    
    df_client = df_property.loc[df_property['Account'] == client]
    df_city = df_client.loc[df_client['City'] == location]
    return df_city

In [91]:
df_filtered = get_filtered_df(df_property, df_users, 'Carl Ramirez')
df_filtered.head()

,Property Address,Insight 1,Insight 2,Driver,Account,Criticality,City
70,435 Stephanie Point St,Compliance,Non-Compliance Incidents,Multiple non-compliance incidents,StreamView Media,Medium,Miami
211,8150 Jonathan River St,Energy Usage,Off-Hours,Low energy efficiency,StreamView Media,Medium,Miami
244,2502 Kathleen Islands St,Budgets,Budget Compliance,Energy Costs above 15% mean,StreamView Media,Medium,Miami
480,5899 Smith Orchard St,Work Orders,Reactive,High number of reactive work orders,StreamView Media,High,Miami
484,6645 Adams Well St,Energy Usage,Off-Hours,High energy usage during peak hours,StreamView Media,Critical,Miami

In [92]:
relevant_insights = getRelevantInsights('Carl Ramirez', df_users, df_roles)
print(relevant_insights)

Energy Efficiency, Equipment Monitoring

In [99]:
relevant_array = relevant_insights.split(", ")
insights1 = insights_dict[relevant_array[0]]
insights2 = insights_dict[relevant_array[1]]

insights1_array = insights1.split(", ")
insights2_array = insights2.split(", ")

if len(insights1_array) == 1:
    df1_insights = df_filtered.loc[df_filtered['Insight 1'] == insights1_array[0]]
else:
    df1_insights1 = df_filtered.loc[df_filtered['Insight 1'] == insights1_array[0]]
    df1_insights = df_insights1.loc[df_insights1['Insight 2'] == insights1_array[1]]
    
    
if len(insights2_array) == 1:
    df2_insights = df_filtered.loc[df_filtered['Insight 1'] == insights2_array[0]]
else:
    df2_insights1 = df_filtered.loc[df_filtered['Insight 1'] == insights2_array[0]]
    df2_insights = df_insights1.loc[df_insights1['Insight 2'] == insights2_array[1]]


final_df = pd.concat([df1_insights, df2_insights])
print(final_df)

            Property Address      Insight 1          Insight 2  \
211   8150 Jonathan River St   Energy Usage          Off-Hours
484       6645 Adams Well St   Energy Usage          Off-Hours
525       6477 Hahn Crest St   Energy Usage  Energy Efficiency
754    9935 Simmons Drive St   Energy Usage  Energy Efficiency
926       7630 Wright Way St   Energy Usage  Energy Efficiency
966     6672 Angela Ports St   Energy Usage          Off-Hours
1176  8748 Rhonda Streets St   Energy Usage          Off-Hours
1258   3327 Barnes Summit St  Accessibility     ADA Compliance

                                   Driver           Account Criticality   City
211                 Low energy efficiency  StreamView Media      Medium  Miami
484   High energy usage during peak hours  StreamView Media    Critical  Miami
525   High energy usage during peak hours  StreamView Media      Medium  Miami
754                 Low energy efficiency  StreamView Media         Low  Miami
926                 Low energy efficiency  StreamView Media    Critical  Miami
966                 Low energy efficiency  StreamView Media      Medium  Miami
1176                Low energy efficiency  StreamView Media        High  Miami
1258      Lack of nearby public transport  StreamView Media        High  Miami